name: ci-python

env:
  SCL_DEBUG: 0

on:
  [workflow_dispatch]
  # [push, pull_request]

jobs:

  python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        python-version: [ "3.14", "3.14t" ]
        # python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14", "3.14t" ]

    name: Python ${{ matrix.python-version }} (${{ matrix.os }})
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true  # 3.14
        cache: pip

    - name: "pip install"
      shell: bash
      timeout-minutes: 1
      run: |
        export SCL_DEBUG=${{ env.SCL_DEBUG }}
        python -m pip install --verbose .

    - name: "Print unvivtool.__version__, help"
      shell: bash
      run: |
        echo "import unvivtool; print(f'unvivtool.__version__={unvivtool.__version__}')" > print_version.py; cat print_version.py
        python -c "import subprocess; import sys; ret = subprocess.run([ sys.executable, 'print_version.py' ]); print('Exit code', ret.returncode); sys.exit(0)"
        python -c "import unvivtool; help(unvivtool)"

    - name: "pytest test_smoketest"
      shell: bash
      timeout-minutes: 1
      run: |
        python -m pip install -q pytest
        pytest -s -vv ./tests/test_smoketest.py

    - name: "pytest test_decodeencode"
      shell: bash
      run: |
        pytest -s -vv ./tests/test_decodeencode.py

    - name: "pytest test_update"
      shell: bash
      run: |
        pytest -s -vv ./tests/test_update.py
