name: release

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  SRC: unvivtool.c
  DEST: unvivtool
  BRANCHES: #-DUVTVUTF8

jobs:
  windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2019 ]
        # arch: [ x86, x64 ]
        arch: [ x64 ]
    name: Windows (MSVC ${{ matrix.arch }})
    steps:
    - uses: actions/checkout@v6
    - name: Setup Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.arch }}
    - name: Get the version (Mmm)
      shell: bash
      run: |
        export UVT_VERS=$(grep "UVTVERS" 'libnfsviv.h' | sed -n "s/^.*UVTVERS \"\s*\(\S*\)\".*$/\1/p")
        echo "${UVT_VERS}"
        export UVT_VERS_NODOT="${UVT_VERS//./}"
        echo "${UVT_VERS_NODOT}"
        export UVT_VERS_MAJOR=$(echo "${UVT_VERS_NODOT}" | sed "s@\([0-9]\).*@\1@")
        echo "${UVT_VERS_MAJOR}"
        export UVT_VERS_MINOR=$(echo "${UVT_VERS_NODOT}" | sed "s@[0-9]\([0-9]\)@\1@")
        export UVT_VERS_MINOR=$(printf "%02d\n" $((UVT_VERS_MINOR)) )
        echo "${UVT_VERS_MINOR}"
        export UVT_VERS_NODOT="${UVT_VERS_MAJOR}${UVT_VERS_MINOR}"
        echo "${UVT_VERS_NODOT}"

        echo "version=${UVT_VERS_NODOT}" >> "$GITHUB_ENV"
    - name: Compile
      run: |
        cl.exe /utf-8 /O2 /TC unvivtool.c /Fe:unvivtool_${{ matrix.arch }}.exe
        dir
    - name: Package
      shell: bash
      run: |
        # Uploading zip artifact to Github Actions creates a nested zip at this time. Hence...
        # Create and upload a folder as artifact

        mkdir "${{ env.DEST }}${{ env.version }}_cli_win32"
        mkdir "${{ env.DEST }}${{ env.version }}_cli_win32/include"
        ls -lga

        cp -r \
        cli \
        references \
        libnfsviv.h \
        LICENSE \
        README.md \
        unvivtool.c \
        unvivtool_${{ matrix.arch }}.exe \
        "${{ env.DEST }}${{ env.version }}_cli_win32"
        cp include/dfa.h "${{ env.DEST }}${{ env.version }}_cli_win32/include"

        ls -lga "${{ env.DEST }}${{ env.version }}_cli_win32"
    - name: Store executable
      uses: actions/upload-artifact@v6
      with:
        name: "${{ env.DEST }}${{ env.version }}_cli_win32"
        path: "${{ env.DEST }}${{ env.version }}_cli_win32"
        compression-level: 9
        retention-days: 30
